In [11]:
#import libraries 
import numpy as np  
import pandas as pd

In [12]:
#import data 
red_wine = pd.read_csv("wine+quality\winequality-red.csv", sep= ';', delimiter=None) 
white_wine = pd.read_csv("wine+quality\winequality-white.csv", sep= ';', delimiter=None) 

#make a copy
rw = red_wine
ww = white_wine

Questions 
do we have to remove all spaces from column names for the ML modell to work?

To-Do 
- remove duplicates 
- unify column names - remove spaces - example is in the movie data set book 
- check for null values 

- add column to each data set identifying red or white label - call it wine type 
    for loop? to fill the column 
- change data type to numerical?? 
- combine data sets 

Later 
- create new low medium high classification 
  low 1-4, medium 5-6, high 7-10 
- justification: our main focus is on what produces good quality wine. good is defined as above average. the average for red was 5.5 and the average for white was 5.9 
- so 5-6 is of medium quality because it represents the mean. anything below that is of low quality, and anything above that is considered high quality in this evalutation 
- also refereing to using the model for future data, 5 is the mediam of my quality range and extending that range upward will only increase the quality 


- maybe i could do a 5 Star Rating, make 5 groups, each with 2 points

In [13]:
#remove all duplicates 
rw.drop_duplicates(inplace=True)
ww.drop_duplicates(inplace=True)

In [14]:
#unify column names 
rw.rename(columns = {'fixed acidity':'fixed_acidity','volatile acidity':'volatile_acidity','citric acid':'citric_acid','residual sugar':'residual_sugar','free sulfur dioxide':'free_sulfur_dioxide', 'total sulfur dioxide':'total_sulfur_dioxide'}, inplace=True)
ww.rename(columns = {'fixed acidity':'fixed_acidity','volatile acidity':'volatile_acidity','citric acid':'citric_acid','residual sugar':'residual_sugar','free sulfur dioxide':'free_sulfur_dioxide', 'total sulfur dioxide':'total_sulfur_dioxide'}, inplace=True)

In [15]:
#add a column 
rw.insert(12, "colour", 'red')
ww.insert(12, "colour", 'white')

In [16]:
#combine data sets 
data = [rw, ww]
df_clean = pd.concat(data)

In [17]:
#use One-Hot Encoder to convert the colour column from categorical str object to readable numbers 
pd.get_dummies(df_clean.colour)

      red  white
0       1      0
1       1      0
2       1      0
3       1      0
5       1      0
...   ...    ...
4893    0      1
4894    0      1
4895    0      1
4896    0      1
4897    0      1

[5320 rows x 2 columns]

In [18]:
#make copy to use for ML Modell 
mlm1 = df_clean

Build the Model
-